/* Left menu bar */
.custom.light #sidebar {
	background-color: #019cde;
	/* Set a single base text color for the entire sidebar */
    color: #333333;
}

.custom.light #sidebar a,
.custom.light #sidebar button {
    /* Let links and buttons inherit the sidebar text color */
    color: inherit;
}

.custom.light #sidebar a:hover,
.custom.light #sidebar button:hover,
.custom.light #sidebar #dropdownDots button {
	color: #333333; /* TOP BACKGROUND COLOR */
}


/* main screen */
.custom.light .app > div > div:nth-child(2) > div {
	background-color: #019cde;
}

/* top nav */
.custom.light .app #nav {
	background-color:#f4f4f4 !important;
}
